<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokerServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PokerServer.Properties.Settings>
            <setting name="serverport" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="serverbacklog" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="dbhost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbdatabase" serializeAs="String">
                <value>poker</value>
            </setting>
            <setting name="dbusername" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="dbpassword" serializeAs="String">
                <value>123123</value>
            </setting>
            <setting name="playerinichips" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="emailuser" serializeAs="String">
                <value>poker</value>
            </setting>
            <setting name="emaildomain" serializeAs="String">
                <value>circleofcurrent.com</value>
            </setting>
            <setting name="emailpassword" serializeAs="String">
                <value>QWE123</value>
            </setting>
            <setting name="emailsmtp" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="emailsmtpuseauth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emailsmtpusessl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emailsmtpport" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="playerinactivelimit" serializeAs="String">
                <value>3</value>
            </setting>
        </PokerServer.Properties.Settings>
    </applicationSettings>
</configuration>